@model IEnumerable<FacebookConsumer.Models.FaceBook.User_Friends>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.user_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.request)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.user_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.request)
        </td>
        <td>
            
            @Html.ActionLink("Details", "ViewUserProfile", new {  id=item.user_id  }) 
           
        </td>
    </tr>
}

</table>
