@model FacebookConsumer.Models.FaceBook.Group

@using (Html.BeginForm("Create","Group", FormMethod.Post,new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
  <style>
      .btn-file {
          position: relative;
          overflow: hidden;
      }

          .btn-file input[type=file] {
              position: absolute;
              top: 0;
              right: 0;
              min-width: 100%;
              min-height: 100%;
              font-size: 100px;
              text-align: right;
              filter: alpha(opacity=0);
              opacity: 0;
              outline: none;
              background: white;
              cursor: inherit;
              display: block;
          }
  </style>  
<div class="form-horizontal">
    <h4>Groups</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.group_name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.group_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.group_name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="file">Upload Image:</label><br />
        <div class="col-md-10">
           @* <input type="file" name="file" id="file" class="btn btn-default btn-file" />*@
            <span class="btn btn-default btn-file">
                Choose Image   <input type="file" name="file" id="file">
            </span>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </div>
</div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
