@model FacebookConsumer.Models.FaceBook.Group
<!DOCTYPE html>
<html>
<head>
    <title> Group </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        html, body, h1, h2, h3, h4, h5 {
            font-family: "Open Sans", sans-serif
        }
    </style>
    
</head>
<body class="w3-theme-l5">
    <div class="w3-container w3-content" style="max-width:1400px;height:250px;margin-top:30px">
        @{
        if (Model.group_image == null)
        {
            <img src="~/images/group.png" height="250" width="1200" />

    }

    if (Model.group_image != null)
    {
        String img64 = Convert.ToBase64String(Model.group_image);
        String img64Url = string.Format("data:image/" + ";base64,{0}", img64);
        <img src="@img64Url" height="250" width="1200" />

}

        }
       
        <div style="display:inline-block">
            <h1 style="margin:10px;">
                @Html.DisplayFor(model => model.group_name)
            </h1>
            
        </div>
    </div>
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:60px">
        <!-- The Grid -->
        <div class="w3-row">
            <!-- Left Column -->
            <div class="w3-col m3">
                <!-- Profile -->
                <div class="w3-card w3-round w3-white">
                    <div class="w3-container">
                        <h4 class="w3-center">Admin</h4>
                        <p class="w3-center">
                            @{
                            //  if (Model. == null)
                            {
                                <img src="~/images/user.png" class="w3-circle" style="height:106px;width:106px" />

                        }

                        @*if (Model.group_image != null)
                        {
                            String img64 = Convert.ToBase64String(Model.User.profile_image);
                            String img64Url = string.Format("data:image/" + ";base64,{0}", img64); //imagetype can be e.g. gif, jpeg, png etc.
                            <img src="@img64Url" class="w3-circle" style="height:106px;width:106px" />

                        }*@

                            }
                            @*   <img src="/w3images/avatar3.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar">*@
                        </p>
                        <hr>
                        <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> @Html.DisplayFor(model => model.User.user_name)</p>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> @Html.DisplayFor(model => model.User.user_email)</p>
                        <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> @Html.DisplayFor(model => model.User.age)</p>
                    </div>
                </div>
                <br>

                <!-- Accordion -->
                <div class="w3-card w3-round">
                    <div class="w3-white">
                        <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups</button>
                        <div id="Demo1" class="w3-hide w3-container">
                            <p>Some text..</p>
                        </div>
                        <button class="w3-button w3-block w3-theme-l1 w3-left-align" data-toggle="modal" data-target="#myfriends">
                            <i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> Add Member
                        </button>
                        <div id="myfriends" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div id="addmember" class="modal-body">
                                        @Html.Action("GetMyFriends", "Group")
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="w3-button w3-theme" data-dismiss="modal">Close</button>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <button onclick="" class="w3-button w3-block w3-theme-l1 w3-left-align" data-toggle="modal" data-target="#users">
                            <i class="fa fa-users fa-fw w3-margin-right"></i> Members
                        </button>
                        <div id="users" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        @Html.Action("GroupMembers", "Group", new { id = Model.group_id })
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="w3-button w3-theme" data-dismiss="modal">Close</button>

                                    </div>
                                </div>

                            </div>
                        </div>



                        <div id="Demo3" class="w3-hide w3-container">
                            <div class="w3-row-padding">
                                <br>
                                <div class="w3-half">
                                    <img src="/w3images/lights.jpg" style="width:100%" class="w3-margin-bottom">
                                </div>
                                <div class="w3-half">
                                    <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
                                </div>
                                <div class="w3-half">
                                    <img src="/w3images/mountains.jpg" style="width:100%" class="w3-margin-bottom">
                                </div>
                                <div class="w3-half">
                                    <img src="/w3images/forest.jpg" style="width:100%" class="w3-margin-bottom">
                                </div>
                                <div class="w3-half">
                                    <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
                                </div>
                                <div class="w3-half">
                                    <img src="/w3images/fjords.jpg" style="width:100%" class="w3-margin-bottom">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>



                <!-- Alert Box -->
                <!-- End Left Column -->
            </div>

            <!-- Middle Column -->
            <div class="w3-col m7">

                <div class="w3-row-padding">
                    <div class="w3-col m12">
                        <div class="w3-card w3-round w3-white">
                            <div class="w3-container w3-padding">
                                <h6 class="w3-opacity">Welcome in our Group </h6>
                                <input type="text" placeholder="What's on your mind..." class="w3-border w3-padding" data-toggle="modal" data-target="#createPost">
                            </div>
                        </div>
                    </div>
                </div>

                <div id="createPost" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                @Html.Action("createPost")
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="w3-button w3-theme" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
                @*//dispaly posts*@
                <div id="displayGroupPosts">
                    @Html.Action("getPosts", "Group")
                   
                    <!-- End Middle Column -->
                </div>



                <!-- Right Column -->
                <!-- End Grid -->
            </div>

            <!-- End Page Container -->
        </div>
        <script>
            // Accordion
            function myFunction(id) {
                var x = document.getElementById(id);
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                    x.previousElementSibling.className += " w3-theme-d1";
                } else {
                    x.className = x.className.replace("w3-show", "");
                    x.previousElementSibling.className =
                        x.previousElementSibling.className.replace(" w3-theme-d1", "");
                }
            }

            // Used to toggle the menu on smaller screens when clicking on the menu button
            function openNav() {
                var x = document.getElementById("navDemo");
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                } else {
                    x.className = x.className.replace(" w3-show", "");
                }
            }

            function sucessGroupPost() {
                $("#createPost").modal("toggle");
            }

            function addMember() {
                $("#addmember").modal("toggle");
            }

        </script>
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/bootstrap.bundle.min.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</body>
</html>

 
